<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="SectionPromo" description="Custom Module serialization" dependencies="Helix.Feature" extends="Helix.Base">
          <predicate>
            <include name="Module" database="master" path="/sitecore/system/Settings/Feature/Resuable Components"/>
            <include name="Templates" database="master" path="/sitecore/templates/Feature/Resuable Components"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Resuable Components"/>            
          </predicate>          
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>