<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <sitecore>
    <pipelines>
      <resolveVariantTokens>
        <processor type="Feature.VideoCarousal.Pipelines.ResolveVideoPath, Feature.VideoCarousal" resolve="true"/>
      </resolveVariantTokens>
    </pipelines>
  </sitecore>
</configuration>
