<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="VideoCarousal.Module" description="Custom Module serialization" dependencies="Helix.Feature" extends="Helix.Base">
          <predicate>
            <include name="Module" database="master" path="/sitecore/system/Settings/Feature/BannerModules"/>
            <include name="Templates" database="master" path="/sitecore/templates/Feature/BannerModules"/>
            <include name="MediaLibrary" database="master" path="/sitecore/media library/Feature/BannerModules"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/BannerModules"/>            
          </predicate>          
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>