/* breakpoints */
#wrapper {
  min-height: 500px;
  padding: 0 15px;
}

.top-navigation-wrapper.promo {
  display: table;
  background: #506380;
  color: #fff;
  padding: 0 25px;
  overflow: visible;
}

.top-navigation-wrapper.promo .component-content {
  display: table-row;
}

.top-navigation-wrapper.promo .top-nav-item {
  display: table-cell;
  padding: 0;
  vertical-align: middle;
  font-size: 13px;
}

.top-navigation-wrapper.promo .top-nav-item > div {
  margin: 0 10px;
}

.top-navigation-wrapper.promo .top-nav-item > div:first-child {
  margin-left: 0;
}

.top-navigation-wrapper.promo .top-nav-item > div:last-child {
  margin: 0 -15px 0 0;
}

.top-navigation-wrapper.promo .top-nav-item .link {
  display: inline-block;
  width: auto;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.top-navigation-wrapper.promo .top-nav-item .link .field-link a {
  text-decoration: none;
  border: none;
  color: #fff;
}

.top-navigation-wrapper.promo .top-nav-item .dropdown-list {
  display: inline-block;
}

.top-navigation-wrapper.promo .top-nav-item .dropdown-list .link-list {
  position: relative;
  padding: 0 15px;
}

.top-navigation-wrapper.promo .top-nav-item .dropdown-list .link-list h3 {
  color: #fff;
  border: none;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.top-navigation-wrapper.promo .top-nav-item .dropdown-list .link-list h3:after {
  font-family: "FontAwesome";
  content: "\f107";
  position: relative;
  margin: 0 0 0 5px;
  font-size: 14px;
  font-weight: 600;
}

.top-navigation-wrapper.promo .top-nav-item .dropdown-list .link-list ul {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  background: #506380;
  z-index: 1;
  padding: 0 10px 10px;
}

.top-navigation-wrapper.promo .top-nav-item .dropdown-list .link-list ul li {
  text-align: left;
  margin: 0;
}

.top-navigation-wrapper.promo .top-nav-item .dropdown-list .link-list ul li a {
  color: #fff;
  margin: 0;
  padding: 0;
}

.top-navigation-wrapper.promo .top-nav-item .dropdown-list .link-list ul li a:before {
  content: "";
}

.top-navigation-wrapper.promo .top-nav-item .dropdown-list .top-nav-contact {
  display: none;
}

.top-navigation-wrapper.promo .top-nav-item .dropdown-list.active h3:after {
  content: "\f106";
}

.top-navigation-wrapper.promo .top-nav-item .dropdown-list.active ul {
  display: block;
}

.top-navigation-wrapper.promo .top-nav-item .dropdown-list.active ul .top-nav-contact {
  display: block;
}

.top-navigation-wrapper.promo .top-nav-item.top-nav-menu-container {
  text-align: right;
}
