/* breakpoints */
.homepage-link-section .link a {
  font-size: 18px;
  color: #006be9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 35px 0;
  border: none;
}

.homepage-link-section .link a:hover {
  color: #006be9;
}

.homepage-link-section .link a.calender:before, .homepage-link-section .link a.clipboard:before, .homepage-link-section .link a.refer:before {
  content: '\f271';
  font-family: "FontAwesome";
  font-size: 18px;
  margin-right: 5px;
}

.homepage-link-section .link a.clipboard:before {
  content: '\f18d';
}

.homepage-link-section .link a.refer:before {
  content: '\f2bb';
}
