@import "abstracts/mixins";
@import "abstracts/vars";
@import "base/fontawesome/font-awesome-mix-var";
.homepage-link-section{
	.link a{
		font-size: 18px;
		color: #006be9;
		display: flex;
		align-items: center;
		padding: 35px 0;
		border: none;
		&:hover{
			color: #006be9;
		}
		&.calender,&.clipboard,&.refer{
			&:before{
				content: '\f271';
				font-family: "FontAwesome";
				font-size: 18px;
				margin-right: 5px;
			}
		}
		&.clipboard{
			&:before{
				content: '\f18d';
			}
		}
		&.refer{
			&:before{
				content: '\f2bb';
			}
		}
	}
}