<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Health.Site" description="Health site children" dependencies="TenantSiteConfigurations" extends="Helix.Base">
          <predicate>
            <include name="health" database="master" path="/sitecore/content/ironthrone/health" />
            <include name="MediaLibrary" database="master" path="/sitecore/media library">
              <exclude children="true">
                <except name="Themes/ironthrone"/>
                <except name="Feature/ironthrone modules"/>
                <except name="Project/ironthrone"/>
                
              </exclude>
            </include>            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
