<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Health.Site" description="Health site children" dependencies="TenantSiteConfigurations" extends="Helix.Base">
          <predicate>
            <include name="health" database="master" path="/sitecore/content/ironthrone/health" />            
            <include name="HealthTheme" database="master" path="/sitecore/media library/Themes/ironthrone"/>
            <include name="FeatureMedia" database="master" path="/sitecore/media library/Feature/ironthrone modules"/>
            <include name="ProjectMedia" database="master" path="/sitecore/media library/Project/ironthrone"/>
          </predicate>
        </configuration 
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
